@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

:root{
    --playfair-display: "Playfair Display", serif;

    --platinum: #E6E6E6;
    --light-french-beige:#C5A880;
    --caput-mortuum:#532E1C;
    --smoky-black:#0F0F0F;
}